.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.btn{
    display: flex;
    gap:50px;
    padding: 20px;
}

.button{
    padding: 10px
}