<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    <h1>Edit Recipe</h1>

    <form action="/edit/recipe" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <label for="description">Description: </label>
        <textarea name="description">
        <label for="instructions">Instructions: </label>
        <textarea name="instructions">
        <label for="created_at">Date Made On: </label>
        <input type="date" name="created_at">
        <label for="name">Name: </label>
        <input type="text" name="name">
    </form>
</body>
</html>