<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <div class="container">
        <form action="/process" method="post">
            Your Name: <input type="text" name="name"><br>
            Dojo Location: <select name="location" id="">
                <option value="San Jose">San Jose</option>
                <option value="Chicago">Chicago</option>
                <option value="Remote">Remote</option>
            </select><br>
            Favorite Language: <select name="language" id="">
                <option value="Javascript">Javascript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select><br>
            Comment (optional): <textarea name="comment" id="" cols="30" rows="10"></textarea><br>
            <input type="submit" name="submit" id="">
        </form>
    </div>
</body>
</html>