<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show User</title>
</head>
<body>
    <h1>USER {{id}}</h1>
    {% for info in show %}
        <h3>Full Name: {{info.first_name}} {{info.last_name}}</h3>
        <h3>Email: {{info.email}}</h3>
        <h3>Created On: {{info.created_at}}</h3>
        <h3>Updated On: {{info.updated_at}}</h3>
    {% endfor %}

    <a href="/edit_user/{{id}}">Edit</a>
    <a href="/">HOME</a>

</body>
</html>